body {
    display: flex;
    background-image: url('../image/protfolio-BG.jpg'); 
    font-family: Roboto, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2F40AC;
    perspective: 1000px;
}
/* 自定義鼠標*/
.cursor {
    position: absolute;
    pointer-events: none; /* 確保鼠標不會干擾點擊事件 */
}
.outer-cube{
    width: 30px;
    height: 30px;
    border-radius: 20%;
    border: 2px solid #6B77C2;
    position: absolute;
    transform: translate(-50%, -50%);
}
.inner-cube {
    width: 20px;
    height: 20px;
    border-radius: 20%;
    background-color: #6B77C2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.click .inner-cube {
    width: 30px;
    height: 30px;
}


#menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px; /* 調整菜單內容與邊緣的距離 */
    z-index: 999;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left; /* 文字靠左對齊 */
}

#menu ul li {
    display: inline;
    margin: 0 5px;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    position: relative; /* 用于悬停效果 */
    transition: color 0.3s ease;
}

#menu ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: width 0.3s ease, background-color 0.3s ease;
}

#menu ul li a:hover::after {
    width: 100%;
    left: 0;
    background: white;
}

#menu ul li a:hover {
    color: #CAADCF; /* 悬停时改变文字颜色 */
}
.scene {
    width: 200px;
    height: 200px;
    position: relative;
}

.cube {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 1s ease-in-out;
}

.face {
    position: absolute;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    text-align: center;
}

.front  { transform: translateZ(100px); background-image: url('../image/book1.png'); }
.back   { transform: rotateY(180deg) translateZ(100px); background-image: url('../image/book2.png'); }
.right  { transform: rotateY(90deg) translateZ(100px); background-image: url('../image/book3.png'); }
.left   { transform: rotateY(-90deg) translateZ(100px); background-image: url('../image/book4.png'); }
.top    { transform: rotateX(90deg) translateZ(100px); background-image: url('../image/book5.png'); }
.bottom { transform: rotateX(-90deg) translateZ(100px); background-image: url('../image/book5.png'); }

button {
    margin-top: 150px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    background-color: rgba(214, 194, 232, 0.5); /* 背景色黑色透明度50% */
}

a.face {
    display: block;
    text-decoration: none;
}
.carousel {
    margin-top: 800px;
    margin-left: -250px;
    position: relative;
    width: 3600px;
    height: 300px;
    max-width: 400%;  /* 確保在較小屏幕上自適應 */;
    overflow: hidden;
    background-color: transparent;
  
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-inner img {
    width: 100%;
    border-right: 2px solid #ccc;
}
.float-text {
    margin-top: -5%;
    margin-left: -110%;
    color: white;
    font-size: 18px;
    font-weight: normal;
    max-width: 1200px; 
    width: 800px;
    text-align: left; /* 將文字靠左對齊 */
    line-height: 1.8; 
}
